@model LMS.ViewModels.BorrowedHistories.CreateViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="my-2">
    <a asp-action="Index" class="btn btn-outline-light text-primary"><span>&#8592;</span> Back</a>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="">
            <div class="input-group my-2">
                <input type="text" name="keyword" class="form-control" placeholder="Enter card number" aria-describedby="button-addon2">
                <input type="submit" class="btn btn-outline-info" id="button-addon2" value="Search" />
            </div>
        </form>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-2">
                <label asp-for="BorrowerId" class="control-label"></label>
                <select asp-for="BorrowerId" class="form-select" asp-items="Model.BorrowerSelectList">
                    <option value="" selected>---Select Borrower---</option>
                </select>
                <span asp-validation-for="BorrowerId" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="BorrowedDate" class="control-label"></label>
                <input asp-for="BorrowedDate" class="form-control" readonly />
                <span asp-validation-for="BorrowedDate" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="TotalCost" class="control-label"></label>
                <input asp-for="TotalCost" class="form-control" readonly>
                <span asp-validation-for="TotalCost" class="text-danger"></span>
            </div>

            <div class="form-group my-4">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div class="my-2">
            <a asp-action="Create" asp-controller="BorrowedItemTemps" class="btn btn-primary">Add Item</a>
        </div>
        <div class="table-responsive">
            <table class="table align-middle text-center caption-top table-bordered">
                <caption>List of borrow items</caption>
                <thead class="table-light">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BorrowedItemTemps.First().Item)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BorrowedItemTemps.First().Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BorrowedItemTemps.First().Cost)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.BorrowedItemTemps != null)
                    {
                        @foreach (var item in Model.BorrowedItemTemps)
                        {
                            <tr>
                                <td>
                                    @item.Item.Title
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                                <td>
                                    @((item.Quantity * item.Item.Price).ToString("C"))
                                </td>
                                <td>
                                    @await Html.PartialAsync("~/Views/Shared/PartialViews/_ControlBtnPartial.cshtml",
                                        new ControlBtnPartialViewModel {
                                            Id = item.Id,
                                            ControllerName = "BorrowedItemTemps",
                                            Edit = true,
                                            Details = true,
                                            Delete = true
                                        }
                                    )
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
