@model LMS.Models.BorrowedHistory

@{
    ViewData["Title"] = "Details";
}

<div>
    <a asp-action="Index" class="btn btn-outline-light text-primary"><span>&#8592;</span> Back</a>
</div>
<div class="row">
    <dl class="col-md-4">
        <dt>
            @Html.DisplayNameFor(model => model.Borrower.CardNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Borrower.CardNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Borrower.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Borrower.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BorrowedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BorrowedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>
    <div class="col-md-8">
        <div class="table-responsive">
            <table class="table text-center align-content-center table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BorrowedItems[0].Item.Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BorrowedItems[0].Item.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BorrowedItems[0].Quantity)
                        </th>
                        <th colspan="2">
                            @Html.DisplayNameFor(model => model.BorrowedItems[0].Cost) ( = Quantity <span class="bi bi-x-lg"></span> Price)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.BorrowedItems != null)
                    {
                        @foreach (var item in Model.BorrowedItems)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td colspan="2" class="text-end">
                                    @Html.DisplayFor(modelItem => item.Cost)
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="3"></td>
                            <td>
                                <b>@Html.DisplayNameFor(model => model.TotalCost)</b>
                            </td>
                            <td class="text-end">@Html.DisplayFor(model => model.TotalCost)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
