@model LMS.Models.BorrowedHistory

@{
    ViewData["Title"] = "Details";
}

<div class="my-2">
    <a asp-action="Index" class="btn btn-outline-light text-primary"><span>&#8592;</span> Back</a>
</div>
<div class="row">
    <dl class="col-md-4">
        <dt>
            @Html.DisplayNameFor(model => model.Borrower.LibraryCardNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Borrower.LibraryCardNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Borrower.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Borrower.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BorrowedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BorrowedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BorrowedState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BorrowedState)
        </dd>
    </dl>
    <div class="col-md-8">
        <div class="table-responsive">
            <table class="table align-middle text-center caption-top table-bordered">
                <caption>List of borrowed items</caption>
                <thead class="table-light">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BorrowedItems[0].Item.Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BorrowedItems[0].Item.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BorrowedItems[0].Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BorrowedItems[0].Cost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BorrowedItems[0].ReturnedQuantity)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.BorrowedItems != null)
                    {
                        @foreach (var item in Model.BorrowedItems)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td class="text-end">
                                    @Html.DisplayFor(modelItem => item.Cost)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReturnedQuantity)
                                </td>
                                <td>
                                    @await Html.PartialAsync("~/Views/Shared/PartialViews/_ControlBtnPartial.cshtml",
                                        new ControlBtnPartialViewModel {
                                            Id = item.Id,
                                            ControllerName = "BorrowedItems",
                                            Return = item.ReturnedQuantity < item.Quantity ? true : false
                                        }
                                    )
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-end">
                            <b>@Html.DisplayNameFor(model => model.TotalCost) = </b>
                            @Html.DisplayFor(model => model.TotalCost)
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
