@model LMS.ViewModels.Books.IndexViewModel
@{
    ViewData["Title"] = "Index";
}

<a asp-action="Create" class="btn btn-primary">
    <i class="bi bi-plus-square"></i>
    <span class="ms-1">Create</span>
</a>

<div class="table-responsive">
    <table class="table align-middle text-center caption-top table-bordered">
        <caption>List of books</caption>
        <thead class="table-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Books.First().Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books.First().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books.First().Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books.First().PublicationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books.First().NumberOfPages)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books.First().Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books.First().Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books.First().AvailableQuantity)
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Books != null)
            {
                foreach (var item in Model.Books)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublicationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfPages)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AvailableQuantity)
                        </td>
                        <td>
                            @await Html.PartialAsync("~/Views/Shared/PartialViews/_ControlBtnPartial.cshtml",
                                new ControlBtnPartialViewModel {
                                    Id = item.Id,
                                    ControllerName = "Books",
                                    Edit = true,
                                    Details = true,
                                    Delete = true
                                }
                            )
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@await Html.PartialAsync("~/Views/Shared/PartialViews/_PaginationPartial.cshtml", Model.PaginationPartialViewModel)
