@model LMS.Views.Shared.PartialViews.PaginationPartialViewModel
 
@{
}

<nav class="d-flex justify-content-center @(Model.TotalPages > 0 ? "" : "d-none")">
    <ul class="pagination pagination-sm">
        <li class="page-item @(Model.CurrentPage <= 1 ? "disabled" : "")">
            <a
                class="page-link"
                asp-route-pageNumber="@(Model.CurrentPage - 1)"
                asp-route-borrowerId="@ViewData["BorrowerId"]"
                asp-route-itemId="@ViewBag.ItemId"
                asp-route-startDate="@ViewBag.StartDate"
                asp-route-endDate="@ViewBag.EndDate"
                asp-route-borrowedState="@ViewBag.BorrowedState"

                asp-route-libraryCardNumber="@ViewBag.LibraryCardNumber"
                aria-label="Previous"
            >
                <span aria-hidden="true">
                    <i class="bi bi-chevron-double-left"></i>
                </span>
            </a>
        </li>
        @for (var i = 0; i < Model.TotalPages; i++)
        {
            var pageNumber = i + 1;
            <li class="page-item @(Model.CurrentPage == pageNumber ? "active" : "")">
                <a
                    class="page-link"
                    asp-route-pageNumber="@pageNumber"
                   asp-route-borrowerId="@ViewData["BorrowerId"]"
                   asp-route-itemId="@ViewBag.ItemId"
                   asp-route-startDate="@ViewBag.StartDate"
                   asp-route-endDate="@ViewBag.EndDate"
                   asp-route-borrowedState="@ViewBag.BorrowedState"
                   asp-route-libraryCardNumber="@ViewBag.LibraryCardNumber">

                    @pageNumber
                </a>
            </li>
        }
        <li class="page-item @(Model.CurrentPage >= Model.TotalPages ? "disabled" : "")">
            <a
                class="page-link"
                asp-route-pageNumber="@(Model.CurrentPage + 1)"
               asp-route-borrowerId="@ViewData["BorrowerId"]"
               asp-route-itemId="@ViewBag.ItemId"
               asp-route-startDate="@ViewBag.StartDate"
               asp-route-endDate="@ViewBag.EndDate"
               asp-route-borrowedState="@ViewBag.BorrowedState"

               asp-route-libraryCardNumber="@ViewBag.LibraryCardNumber"
                aria-label="Next"
            >
                <span aria-hidden="true">
                    <i class="bi bi-chevron-double-right"></i>
                </span>
            </a>
        </li>
    </ul>
</nav>
