@model LMS.ViewModels.Borrowers.IndexViewModel

@{
    ViewData["Title"] = "Index";

    // var id = ViewContext.RouteData.Values[Model.LibraryCardNumber].ToString();
}

<div class="row gap-2">
    <div class="col-auto">
        <a asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-square"></i>
            <span class="ms-1">Create</span>
        </a>
    </div>

    <div class="col-auto">
        <form asp-action="Search">
            <div class="input-group">
                <input type="search" value="@Model.LibraryCardNumber" name="libraryCardNumber" class="form-control" placeholder="Enter library card number">
                <button type="submit" class="btn btn-info text-white">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive">
    <table class="table align-middle text-center caption-top table-bordered">
        <caption>List of borrowers</caption>
        <thead class="table-light">
            <tr>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.Borrowers.First().LibraryCardNumber)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.Borrowers.First().Name)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.Borrowers.First().Address)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Borrowers != null)
            {
                foreach (var item in Model.Borrowers)
                {
                    <tr>
                        <td class="text-nowrap">
                            @Html.DisplayFor(modelItem => item.LibraryCardNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @await Html.PartialAsync("~/Views/Shared/PartialViews/_ControlBtnPartial.cshtml",
                    new ControlBtnPartialViewModel {
                    Id = item.Id,
                    ControllerName = "Borrowers",
                    Edit = true,
                    Details = true,
                    Delete = true
                    }
                    )
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@await Html.PartialAsync("~/Views/Shared/PartialViews/_PaginationPartial.cshtml", Model.PaginationPartialViewModel)

@section Scripts {
    <script>
        $(document).ready(function () {

            $.ajax({
                type: 'GET',
                url: '@Url.Action("List", "Borrowers")', // Đường dẫn đến action GetJsonData trong controller My
                dataType: 'json',
                data: {
                  },
                success: function (data) {
                    // Hiển thị dữ liệu JSON trong các phần tử HTML
                    console.log(data)
                },
                error: function () {
                    console.error('Lỗi khi lấy dữ liệu JSON.');
                }
            });
        });
    </script>
}