@model IEnumerable<LMS.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<div class="row row-cols-2 g-3 mb-3">
    <div class="col-auto">
        <a href="#chua-lam" class="btn btn-primary">
            <i class="bi bi-plus-square"></i>
            <span class="ms-1">Chưa làm</span>
        </a>
    </div>
    <div class="col-auto">
        <form asp-action="Search">
            <div class="input-group">
                <input type="search" value="@ViewBag.TitleItem" name="title" class="form-control" placeholder="Enter title item">
                <button type="submit" class="btn btn-info text-white">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<div class="table-responsive">
    <table class="table text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublicationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvailableQuantity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AvailableQuantity)
                    </td>
                    <td>
                        <div class="float-end btn-group btn-group-sm gap-2">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">
                                <i class="bi bi-info-square"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">
                                <i class="bi bi-x-square"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

